<li class="menu-title">Administration</li><!-- /.menu-title -->
<li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-user"></i>Admins</a>
    <ul class="sub-menu children dropdown-menu">
        <li><i class="menu-icon fa fa-list"></i><a href="/admin/list">List</a></li>
        <li><i class="menu-icon fa fa-list"></i><a href="/admin/roles">Roles & Privileges</a></li>
        //- <li><i class="menu-icon fa fa-users"></i><a href="#" data-toggle="modal" data-target="#new-admin-modal">New Admin</a></li>
        //- <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Forget Pass</a></li>
    </ul>
</li>
