<li class="menu-title">Apps</li>
<li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-gears"></i>Gateway</a>
    <ul class="sub-menu children dropdown-menu">
        <li>
            <i class="menu-icon fa fa-sort-numeric-asc"></i><a href="/gateway/version/list"> App Versions </a>
        </li>
        <li>
            <i class="menu-icon fa fa-share-square-o"></i><a href="/gateway/referral/list"> App Referrals </a>
        </li>
    </ul>
</li>

<li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>User</a>
    <ul class="sub-menu children dropdown-menu">
        <li>
            <i class="menu-icon fa fa-user"></i><a href="/user/list"> Active User </a>
        </li>
        <li>
            <i class="menu-icon ti-lock"><a href="/user/ban"></i> Disable User </a>
        </li>
        <li>
            <i class="menu-icon fa fa-exclamation-circle"><a href="/user/report"></i> Reported User </a>
        </li>
    </ul>
</li>

<li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Demography</a>
    <ul class="sub-menu children dropdown-menu">
        <li>
            <i class="menu-icon fa fa-venus-mars" aria-hidden="true"><a href="/user/demography_gender"></i> User - Gender & Age </a>
        </li>
        <li>
            <i class="menu-icon fa ti-image" aria-hidden="true"><a href="/user/demography_location-postdata"></i> Location - Post Data </a>
        </li>
        <li>
            <i class="menu-icon fa ti-layers-alt" aria-hidden="true"><a href="/user/demography_location-storydata"></i> Location - Story Data </a>
        </li>
        <li>
            <i class="menu-icon fa fa-picture-o" aria-hidden="true"><a href="/user/demography_location-imagefile"></i> Location - Image File </a>
        </li>
        <li>
            <i class="menu-icon fa fa-globe" aria-hidden="true"><a href="/user/demography_location-lastactive"></i> Location - User Last Active </a>
        </li>
        //- <li>
        //-     <i class="menu-icon fa fa-map-marker" aria-hidden="true"><a href="/user/demography_location-placeid"></i> Location - Place-id </a>
        //- </li>
    </ul>
</li>

<li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-check-circle"></i>Verification</a>
    <ul class="sub-menu children dropdown-menu">
        <li>
            <i class="menu-icon fa fa-check-circle-o" aria-hidden="true"><a href="/verification/list"></i> Verification Check </a>
        </li>
    </ul>
</li>

<li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-columns"></i>Post</a>
    <ul class="sub-menu children dropdown-menu">
        <li>
            <i class="menu-icon fa fa-newspaper-o"></i><a href="/post/list"> Daily Post </a>
        </li>
        <li>
            <i class="menu-icon fa fa-exclamation-circle"></i><a href="/post/report"> Reported Post </a>
        </li>
        <li>
            <i class="menu-icon fa fa-exclamation-circle"></i><a href="/post/report_comment"> Reported Comment </a>
        </li>
    </ul>
</li>
<li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon ti-layers-alt"></i>Story</a>
    <ul class="sub-menu children dropdown-menu">
        <li>
            <i class="menu-icon fa fa-exclamation-circle"></i><a href="/story/report"> Reported Story </a>
        </li>
        <li>
            <i class="menu-icon fa fa-exclamation-circle"></i><a href="/story/list"> Story Summary </a>
        </li>   
    </ul>
</li>
<li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon ti-star"></i>Master</a>
    <ul class="sub-menu children dropdown-menu">
        <li>
             <i class="menu-icon fa fa-th"></i><a href="/master/category"> Category </a>
        </li>
        <li>
            <i class="menu-icon fa fa-venus-mars"></i><a href="/master/gender"> Gender </a>
        </li>
        <li>
             <i class="menu-icon fa fa-flag"></i><a href="/master/indicator"> Indicator </a>
        </li>
        <li>
             <i class="menu-icon fa fa-thumbs-up"></i><a href="/master/mood"> Mood </a>
        </li>
        <li>
            <i class="menu-icon fa fa-clone"></i><a href="/master/posttype"> Post Type </a>
        </li>
        <li>
             <i class="menu-icon fa fa-barcode"></i><a href="/master/promocode"> PromoCode </a>
        </li>
        <li>
            <i class="menu-icon fa fa-exclamation-circle"></i><a href="/master/report"> Report </a>
        </li>
    </ul>
</li>
<li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-sitemap"></i>Community</a>
    <ul class="sub-menu children dropdown-menu">
        <li>
            <i class="menu-icon fa fa-exclamation-circle"></i><a href="/community/report"> Reported Community </a>
        </li>
        <li>
            <i class="menu-icon fa fa-exclamation-circnpm install @amcharts/amcharts4-fontsle"></i><a href="/community/list"> Community Summary </a>
        </li>
    </ul>
</li>
<li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-heart-o"></i>Ten Favs</a>
    <ul class="sub-menu children dropdown-menu">
        <li>
            <i class="menu-icon fa fa-list-ul"></i><a href="/tenfavs/list"> Favorite List </a>
        </li>
        <li>
            <i class="menu-icon fa fa-download"></i><a href="/tenfavs/export"> Favorite Export </a>
        </li>
    </ul>
</li>
