<li class="menu-title">Business Development</li>
<li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Account</a>
    <ul class="sub-menu children dropdown-menu">
        <li>
            <i class="menu-icon fa fa-user"></i><a href="/bizdev/account"> BizDev User </a>
        </li>
    </ul>
</li>