extends /layout

block content
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    include /cards/community/profile
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    include /cards/community/detail_forum
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    include /cards/community/detail_announcement
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    include /cards/community/detail
                </div>
            </div>
        </div>
    </div>