<div class="card">
    <div class="card-body">
        <h4 class="box-title">PromoCode List </h4>
    </div>
    <div class="card-body">
        <button class='openAddPromoCodeDialog btn btn-outline-primary' type='button' data-toggle='modal'><i class='fa fa-plus'></i> Add PromoCode</button><br><br>
        <div id="bootstrap-data-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <table id="mastertable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="bootstrap-data-table_info">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Code</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

include /modals/master/promocode_add
include /modals/master/promocode_delete

block append card-script
    <script src="/assets/js/datatables/master/promocode.js"></script>

