<!-- Header-->
<header id="header" class="header">
    <div class="top-left">
        include menus/headers/brand
    </div>
    <div class="top-right">
        <div class="header-menu">
            <div class="header-left">
                //- include menus/headers/search
                include menus/headers/notification
                include menus/headers/message
            </div>

            include menus/headers/user-area

        </div>
    </div>
</header>
<!-- /#header -->