block main-menu
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                include /menus/dashboard
                //- include /menus/groups/ui-elements
                //- include /menus/groups/icons
                //- include /menus/groups/extras
                include /menus/groups/apps
                include /menus/groups/web
                include /menus/groups/bizdev
                include /menus/groups/administration
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
