<!-- Scripts -->
<script src="/assets/js/lib/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="/assets/js/lib/jquery-validate/jquery-validate.min.js"></script>
<script src="/assets/js/lib/data-table/datatables.min.js"></script>
<script src="/assets/js/lib/chart.js@2.8.0/Chart.min.js"></script>
<script src="/assets/js/lib/amcharts/core.js"></script>
//- <script src="/assets/js/lib/amcharts/charts.js"></script>
<script src="/assets/js/lib/amcharts/maps.js"></script>
<script src="/assets/js/lib/amcharts/countries2.js"></script>
<script src="/assets/js/lib/amcharts/themes/spretedaway.js"></script>
<script src="/assets/js/lib/amcharts/themes/moonrisekingdom.js"></script>
<script src="/assets/js/lib/amcharts/themes/material.js"></script>
<script src="/assets/js/lib/amcharts/indonesiaLow.js"></script>
//- <script src="/assets/js/lib/amcharts/worldLow.js"></script>
<script src="/assets/js/lib/amcharts/animated.js"></script>
//- <script src="/assets/js/lib/amcharts/en_US.js"></script>
<script src="/assets/js/lib/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="/assets/js/lib/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/lib/bootstrap@4.1.3/dist/js/bootstrap-toggle.js"></script>
<script src="/assets/js/lib/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src="/assets/js/lib/utils.js"></script>
<script src="/assets/js/main.js"></script>

block card-script

block modal-script

block local-script