<div class="modal fade" id="actionPostTypeDelete" tabindex="-1" role="dialog" aria-labelledby="actionLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-12">
                        <center><h3 class="modal-title">Are your sure to delete this post type?</h3></center>
                    </div>
                </div>
            </div>
            <div class="modal-body actionBodyPostTypeDelete" style="text-align:center;">
                //- inside session.js
            </div>
        </div>
    </div>
</div>

block append modal-script
    <script src="/assets/js/modals/master/posttype_delete.js"></script>