<div class="modal fade" id="actionRegisterAccount" tabindex="-1" role="dialog" aria-labelledby="actionLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-12">
                        <center><h4 class="modal-title">Register Account</h3></center>
                    </div>
                </div>
            </div>
            <div class="modal-body actionBodyRegisterAccount" style="text-align:center;">
                <form action="/bizdev/register" method="post" >
                    <div class="form-group">
                        <label for="email" class=" form-control-label">Email</label>
                        <input type="email" placeholder="contoh@example.com" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="mobile" class=" form-control-label">Mobile Number</label>
                        <div class="row">
                            <div class="col col-sm-3">
                                <input type="text" placeholder="+62" class="form-control" id="country_code" name="country_code" value="62">
                            </div>
                            <div class="col col-sm-9">
                                <input type="text" placeholder="8888xxxxxxx" class="form-control" id="mobile" name="mobile" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="formToken">
                        //- inside register.js
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg btn-info"><i class="fa fa-save"></i>&nbsp; Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

block append modal-script
    <script src="/assets/js/modals/bizdev/register.js"></script>