<div class="card">
    <div class="card-header">
        <strong class="card-title">RAW</strong>
    </div>
    <div class="card-body">
        //- <p class="card-text">!{JSON.stringify(user)}</p>
        <code>!{JSON.stringify(user, null, 1)}</code>
    </div>
</div>