<div class="row">
    <div class="col-lg-4">
        <div class="card text-white bg-flat-color-3">
            <div class="card-body">
                <div class="card-left pt-1 float-left">
                    <h3 class="mb-0 fw-r">
                        <span id="totaluserCounts">0</span>
                    </h3>
                    <p class="text-light mt-1 m-0"><button type="button" style="background: none; border: none;"><a href="/user/demography" style="color: #fff;">Total Users</a></button></p>
                </div>
                <div class="card-right float-right text-right">
                    <i class="ti-user icon-lg"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card text-white bg-flat-color-1">
            <div class="card-body">
                <div class="card-left pt-1 float-left">
                    <h3 class="mb-0 fw-r">
                        <span id="totalfavoriteCounts">0</span>
                    </h3>
                    <p class="text-light mt-1 m-0">Total Favorites</p>
                </div>
                <div class="card-right float-right text-right">
                    <i class="ti-bookmark icon-lg"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card text-white bg-flat-color-2">
            <div class="card-body">
                <div class="card-left pt-1 float-left">
                    <h3 class="mb-0 fw-r">
                        <span id="totalstoryCounts">0</span>
                    </h3>
                    <p class="text-light mt-1 m-0">Total Stories</p>
                </div>
                <div class="card-right float-right text-right">
                    <i class="ti-layers-alt icon-lg"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-1">
                        <i class="ti-image"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span id="totalpostCounts">0</span></div>
                            <div class="stat-heading">Total Posts</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-2">
                        <i class="ti-heart"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span id="totallikeCounts">0</span></div>
                            <div class="stat-heading">Total Likes</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-4">
                        <i class="ti-pencil-alt"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span id="totalcommentCounts">0</span></div>
                            <div class="stat-heading">Total Comments</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-3">
                        <i class="ti-gallery"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span id="totalhashtagCounts">0</span></div>
                            <div class="stat-heading">Total HashTag</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
