<div class="row">
    <div class="col-lg-12">
        <div class="card text-white bg-flat-color-4">
            <div class="card-body">
                <h3 class="mb-0 fw-r" style="text-align: center;">- Indicators -</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-2">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-one" style="text-align: center;">
                    <div class="stat-heading" style="color: #99abb4">Social</div>
                    <img style="margin: 15%" class="align-content" width="40%" height="40%" src="/images/indicator/social-purple.png">
                    <br>
                    <div class="stat-digit" style="color: #455a64"><span id="socialCounts"></span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-one" style="text-align: center;">
                    <div class="stat-heading" style="color: #99abb4">Hobby</div>
                    <img style="margin: 15%" class="align-content" width="40%" height="40%" src="/images/indicator/hobby-pink.png">
                    <br>
                    <div class="stat-digit" style="color: #455a64"><span id="hobbyCounts">0</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-one" style="text-align: center;">
                    <div class="stat-heading" style="color: #99abb4">Travels</div>
                    <img style="margin: 15%" class="align-content" width="40%" height="40%" src="/images/indicator/travel-yellow.png">
                    <br>
                    <div class="stat-digit" style="color: #455a64"><span id="travelCounts">0</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-one" style="text-align: center;">
                    <div class="stat-heading" style="color: #99abb4">Sports</div>
                    <img style="margin: 15%" class="align-content" width="40%" height="40%" src="/images/indicator/sport-blue.png">
                    <br>
                    <div class="stat-digit" style="color: #455a64"><span id="sportCounts">0</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-one" style="text-align: center;">
                    <div class="stat-heading" style="color: #99abb4">Works</div>
                    <img style="margin: 15%" class="align-content" width="40%" height="40%" src="/images/indicator/works-red.png">
                    <br>
                    <div class="stat-digit" style="color: #455a64"><span id="workCounts">0</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-one" style="text-align: center;">
                    <div class="stat-heading" style="color: #99abb4">Other</div>
                    <img style="margin: 15%" class="align-content" width="40%" height="40%" src="/images/indicator/other-green.png">
                    <br>
                    <div class="stat-digit" style="color: #455a64"><span id="otherCounts">0</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
