<div class="card">
    <div class="card-body">
        <form action="/post/thumbnail/add" method="post" >
            <button type="submit" class="btn btn-outline-primary">Add Thumbnail</button>
        </form>
        //- <div class="stat-widget-five">
        //-     <div class="stat-icon dib flat-color-1">
        //-         <i class="pe-7s-cash"></i>
        //-     </div>
        //-     <div class="stat-content">
        //-         <div class="text-left dib">
        //-             <div class="stat-text">$<span class="count">23569</span></div>
        //-             <div class="stat-heading">Revenue</div>
        //-         </div>
        //-     </div>
        //- </div>
    </div>
</div>
