<div class="card">
    <div class="card-body">
        <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-2">
                <i class="pe-7s-cart"></i>
            </div>
            <div class="stat-content">
                <div class="text-left dib">
                    <div class="stat-text"><span class="count">3435</span></div>
                    <div class="stat-heading">Sales</div>
                </div>
            </div>
        </div>
    </div>
</div>