<div class="card">
    <div class="card-body">
        <div class="stat-widget-five">
            <div class="stat-icon dib flat-color-3">
                <i class="pe-7s-browser"></i>
            </div>
            <div class="stat-content">
                <div class="text-left dib">
                    <div class="stat-text"><span class="count">349</span></div>
                    <div class="stat-heading">Templates</div>
                </div>
            </div>
        </div>
    </div>
</div>