<div class="card">
    <div class="card-body">
        <h4 class="box-title">User Demography by Location - Ip Address</h4>
    </div>
    //- <form action="/user/exportUserDemography" method="post">
    //-         <div class="row">
    //-             <div class="col-sm-2">
    //-                 <button type="submit" class="btn btn-success"><i class="fa fa-download"></i> Demography by Location</button>
    //-             </div>
    //-         </div>
    //- </form>
    <div id="chartdiv"></div>
    <br>
    </div>
</div><!-- /.card -->

block append card-script
    <script src="/assets/js/chart/bylocation/locationIpAddress.js"></script>