<div class="card br-0">
    <div class="card-body">
        <div class="chart-container ov-h">
            <div id="flotPie1" class="float-chart"></div>
        </div>
    </div>
</div><!-- /.card -->